<h1>Hacker News Posts</h1>

<ul id='songs'>
</ul> 
<% @posts.each do |post| %> 
<div> 
	<div id='score'> <=% post.total_votes %> </div>
	<li> Title: <%= post.title %>, Link: <%= post.link %>, Body: <%= post.body %> </li>
	<div class = 'button'>
	<%= button_to [:up_votes ] do %>
		VOTE UP! <%= post.up_votes %> 
		<% end %>
		</div id = 'links'>
		<li><%=link_to 'Comments', post %> Comments | <%= post.up_votes %> Up Votes | <%= post.down_votes %> Down Votes </li>
		<%=link_to 'Edit Post',  edit_post_path(post) %> 
	</div>
	<% end %>
	<%= link_to 'New Post', new_post_path , id: 'new_post' , remote: true %>


